* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: 'Open Sans', Arial;
  font-weight: 500;
  font-size: 14 px;
  height: 100vh;
  /* Full viewport height */
  display: flex;
  /* Flexbox for centering */
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  margin: 1rem 0.7rem;
  align-items: center;
  width: 100%;
  max-width: 340px;
  /* Limit calculator width */
}

#display {
  height: 6rem;
  width: 100%;
  border: 1px solid rgb(172, 171, 169);
  border-radius: 5px;
}

input#display {
  font-weight: 500;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 0.5rem;
}

button {
  width: 24%;
  height: 2.6rem;
  border-radius: 4px;
  background-color: #DADCE0;
  margin: 0.4rem 0px;
}

button:hover {
  background-color: #afafaf;
}

@media only screen and (min-width: 768px) {
  .calculator {
    margin: 1rem 0.7rem;
    width: 340px;
  }
}